.Image{
    cursor: pointer;
    height: 300px;
    background-size: cover;
    background-position: center;
}
.searchbar{
    margin-bottom: auto;
    margin-top: auto;
    height: 70px;
    background-color: lightskyblue;
    border-radius: 40px;
    padding: 15px;
}

.search_input{
    color: white;
    border: 0;
    outline: 0;
    background: none;
    width: 0;
    caret-color:transparent;
    line-height: 40px;
    transition: width 0.4s linear;
}

.searchbar:hover > .search_input{
    padding: 0 10px;
    width: 450px;
    caret-color:white;
    transition: width 0.4s linear;
}
::-webkit-input-placeholder { /* Edge */
    color: white;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: white;
}
::placeholder{
    color: white;
}
.search_icon{
    height: 40px;
    width: 40px;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color:white;
    text-decoration:none;
}
